@charset "utf-8";
/* color */
.b-b-b{
	border-bottom: 1px solid #1c2fbe;
}
.b-b-b-6{
	border-bottom: 6px solid #1c2fbe;
}

.boder-d2d2d2{
	border: 1px solid #d2d2d2;
}
.boder-bbb{
	border: 1px solid #bbb !important;
}
.dark-bd-b{
	border-bottom: 1px solid #242424;
}
.bd-b{
	border-bottom: 1px solid #d8d8d8;
}
.bd-gray{
    border: 1px solid #d1d2d3;
}
.bd-b2{
	border-bottom: 2px solid #d1d2d3;
}
.bg-fdeee4{
	background-color: #fdeee4;
}
.bg-f3f9f6{
	background-color: #f3f9f6;
}
.bg-f9{
	background-color: #f9f9f9;
}
.bg-fff{
	background-color: #fff;
}
.button-blue{
    color: #fff;
    background-color: #1c2fbe;
    border: 1px solid #1c2fbe;
}
.button-white{
    color: #1c2fbe;
    background-color: #fff;
    border: 1px solid #1c2fbe;
}
.button-blue-s{
    background-color: #1c2fbe;
    border: 1px solid #1c2fbe;
	color: #fff;
}
.button-white-s{
    color: #1c2fbe;
    background-color: #fff;
    border: 1px solid #1c2fbe;
}
.main-slider > li > h2{
    color: #1c2fbe;
}
.main-slider-outer ul.slider-btn > li{
	background-color: #1c2fbe;
	border: 1px solid #1c2fbe;
}
.main-slider-outer ul.slider-btn > li.active{
	border: 1px solid #1c2fbe;
}
.main-menu > li > ul{
	border: 1px solid #1c2fbe;
}
.main-menu > li:hover > a{
	color: #1c2fbe;
}
.main-menu > li > ul > li > a{
    color: #000;
    border-bottom: 1px solid #bbb;
    background-color: #fff;
}
.main-menu > li > ul > li > a:hover{
    color: #fff !important;
    background-color: #1c2fbe;
    border-bottom: 1px solid #1c2fbe;
}
.main-menu > li > a.open-menu{
    background-image: url(/images/open-menu.png);
}
.join{
    background-image: url(/images/join-bg.png);
}
.home-middle > div > div:hover{
    background-color: #1c2fbe !important;
}
.bg-blue{
	background-color: #1c2fbe;
}
.bg-green{
	background-color: #37ae9f;
}
a.current{
    color: #1c2fbe !important;
}
.blue{
	color: #1c2fbe;
}
.sky-blue{
	color: #2881c4;
}
.sky-blue > a{
	color: #2881c4;
}
ul.breadcrumbs > li:nth-child(3) > a{
	color: #1c2fbe;
}
ul.breadcrumbs > li > ul{
    border: 1px solid #1c2fbe;
}
ul.breadcrumbs > li > ul > li > a:hover{
	background-color: #1c2fbe;
    border-bottom: 1px solid #1c2fbe;
}
.open-target ul > li:before,
.target ul > li:before {
    color: #2e47ff;
}
/* color */

/* common */
.hide{
	display: none !important;
}
body{
	width: 100%;
}
.body-inner{
	width: 100%;
}
.fadein{
   opacity: 0;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}
.fadein.ready{
   opacity: 1;
}
.body-inner-table{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
   	display: table;
    position: relative;
}
.body-inner-table.w1200px{
	width: 1200px;
}
.over-x-hidden{
    width: 1200px;
	overflow: hidden;
}
.over-hidden{
	overflow: hidden;
}
.scroll{
	overflow: scroll;
}
.scroll-y{
	overflow-y: scroll;
}
.min-h-100{
	min-height: 100px;
}
.min-h-200{
	min-height: 200px;
}
.button{
	cursor: pointer;
	border: 1px solid #bbb;
	color: #000;
	padding:  .5em 2em .45em 2em;
	border-radius: 5px;
	font-size: .8em;
	line-height: 2em;
	display: inline-block;
	background-repeat: repeat-x;
    background-image: url(/images/button-bg.png);
}
.button_01 {
    cursor: pointer;
    border: 1px solid #bbb;
    color: #000;
    padding: .5em .1em .45em 1em;
    border-radius: 5px;
    font-size: .8em;
    line-height: 2em;
    display: inline-block;
    background-repeat: repeat-x;
    /*background-image: url(/images/button-bg.png);*/
}
.buttonWide {
    cursor: pointer;
    border: 1px solid #bbb;
    color: #000;
    padding: .5em 2em .45em 2em;
    border-radius: 5px;
    font-size: .8em;
    line-height: 2em;
    display: inline-block;
    background-repeat: repeat-x;
    background-image: url(/images/button-bg.png);
}
.button-s{
	cursor: pointer;
	border: 1px solid #bbb;
	color: #000;
	padding: .5em 2em .45em 2em;
	border-radius: 5px;
	line-height: 2em;
	display: inline-block;
	background-repeat: repeat-x;
    background-image: url(/images/button-bg.png);
}
.button-s-s{
    cursor: pointer;
    border: 1px solid #bbb;
    color: #000;
    padding: .05em .5em;
    border-radius: 5px;
    line-height: 1.5em;
    display: inline-block;
    background-repeat: repeat-x;
    background-position-y: 100%;
    background-image: url(/images/button-bg.png);
}
span.button-s-s{
	cursor: default;
}
.no-pointer{
	cursor: default;
}

.tap-title .button{
	padding: .5em 2em .45em 4em;
}
.tap-title .button_01 {
}
.tap-title .buttonWide {
    padding: .5em 2em .45em 4em;
}

.button-blue{
    font-size: 18px;
    padding: 14px 55px 14px 55px;
}
.button-white{
    font-size: 18px;
    padding: 14px 55px 14px 55px;
}
.button-blue-s{
    font-size: 1em;
    padding: 14px 55px 14px 55px;
}
.button-white-s{
    font-size: 1em;
    padding: 14px 55px 14px 55px;
}





.po-u,
.p-unset{
    position: unset !important;
}
.po-r,
.p-relative{
	position: relative;
}
.po-a,
.p-absolute{
	position: absolute;
}
.f-right{
	float: right;
}
.f-left{
	float: left;
}
.m-t-1px{
    margin-top: 1px;
}
.d-block{
	display: block;
}
.d-i-block{
	display: inline-block;
}
.d-i-b{
	display: inline-block;
}
.d-table{
	display: table;
}
.d-table-row{
	display: table-row;
}
.d-table-cell{
    display: table-cell;
    position: relative;
    height: 100%;
}
.v-middle{
	vertical-align: middle;
}
.v-top{
	vertical-align: top;
}
.t-center{
	text-align: center;
}
.t-left{
	text-align: left;
}
.t-right{
	text-align: right;
}
.t-red,
.c-red{
	color: #ff3e3e !important;
}
.c-gray{
    color: #bbbbbb;
}

.bold{
	font-weight: 600;
}
.normal{
	font-weight: 300;
}
.open-target{
	display: none;
}
.open-target.show{
	display: block;
}
.w100pro{
	width: 100%;
}
.w90pro{
	width: 90%;
}
.w85pro{
	width: 85%;
}
.w83pro{
	width: 83%;
}
.w80pro{
	width: 80%;
}
.w75pro{
	width: 75%;
}
.w70pro{
	width: 70%;
}
.w67pro{
	width: 67%;
}
.w66pro{
	width: 66%;
}
.w65pro{
	width: 65%;
}
.w64pro{
	width: 64%;
}
.w62pro{
	width: 62%;
}
.w60pro{
	width: 60%;
}
.w53pro{
	width: 53%;
}
.w50pro{
	width: 50%;
}
.w47pro{
	width: 47%;
}
.w40pro{
	width: 40%;
}
.w38pro{
	width: 38%;
}
.w35pro{
	width: 35%;
}
.w33pro{
	width: 33%;
}
.w30pro{
	width: 30%;
}
.w25pro{
	width: 25%;
}
.w20pro{
	width: 20%;
}
.w15pro{
	width: 15%;
}
.w10pro{
	width: 10%;
}
.pa-03{
	padding: 0 3em;
}
.pa-0dot3{
	padding: 0 .3em;
}
.pa-b-dot4{
	padding-bottom: .4em;
}
.pa-t-dot5{
	padding-top: .5em;
}
.pa-b-dot5{
	padding-bottom: .5em;
}
.pa-dot8em{
	padding: .8em;
}
.pa-b-dot8em{
	padding-bottom: .8em;
}
.pa-1em{
	padding: 1em;
}
.pa-2em{
	padding: 2em;
}
.pa-3em{
	padding: 3em;
}
.pa-2-3em{
	padding: 2em 3em;
}
.pa-25-3em{
	padding: 2.5em 3em;
}
.pa-13-0{
    padding: 1.3em 0;
}
.pa-4em{
	padding: 4em;
}
.pa-l-dot8em{
	padding-left: .8em;
}
.pa-r-dot8em{
	padding-right: .8em;
}
.pa-l-1em{
	padding-left: 1em;
}
.pa-r-2em{
	padding-right: 2em;
}
.pa-t-dot8em{
	padding-top: .8em;
}
.pa-t-1em{
	padding-top: 1em;
}
.pa-b-1em{
	padding-bottom: 1em;
}
.pa-t-1dot8em{
	padding-top: 1.8em;
}
.pa-b-1dot8em{
	padding-bottom: 1.8em;
}
.pa-t-2em{
	padding-top: 2em;
}
.pa-b-2em{
	padding-bottom: 2em;
}
.pa-b-3em{
	padding-bottom: 2em;
}
.pa-dot3-0{
    padding: .3em 0em;
}
.pa-dot5{
	padding: .5em;
}
.pa-1-dot5{
	padding: 1em .5em;
}
.ma-b-dot4{
    margin-bottom: .4em;
}
.ma-t-0{
    margin-top: 0 !important;
}
.ma-t-dot5{
    margin-top: .5em;
}
.ma-t-dot8{
    margin-top: .8em;
}
.ma-t-1em{
    margin-top: 1em;
}
.ma-t-1dot5em{
    margin-top: 1.5em;
}
.ma-t-2em{
	margin-top: 2em;
}
.ma-t-3em{
	margin-top: 3em;
}
.ma-t-4em{
	margin-top: 4em;
}
.ma-b-dot5{
    margin-bottom: .5em;
}
.ma-b-1em{
    margin-bottom: 1em;
}
.ma-b-2em{
    margin-bottom: 2em;
}
.ma-b-3em{
	margin-bottom: 3em;
}
.ma-l-dot3{
	margin-left: .3em;
}
.ma-r-dot3{
	margin-right: .3em;
}
.ma-l-dot5{
	margin-left: .5em;
}
.ma-r-dot5{
	margin-right: .5em;
}
.ma-r-1em{
    margin-right: 1em;
}
.ma-b-5px{
    margin-bottom: 5px;
}
.ma-l-dor5{
	margin-left: .5em;
}
.ma-r-dor5{
	margin-right: .5em;
}
.bg-f0f1f4{
	background-color: #f0f1f4;
}
.ma-t-1px{
	margin-top: -1px;
}
.m-t-dot5{
	margin-top: .5em;
}
label,
input[type="submit"],
a{
	cursor: pointer;
}
.table-border{
	border-top: 1px solid #cfcfcf;
}
.table-border > div:not(:first-child) {
	border-left: 1px solid #cfcfcf;
}
.small-text{
    font-size: .8em !important;
}
.big-text{
    font-size: 1.3em !important;
}
.auto{
	margin-left:auto;
	margin-right: auto;
}
ul.sms-tap{
	border-bottom: 1px solid #1c2fbe;
}
ul.sms-tap > li.active{
    border-top: 1px solid #1c2fbe;
    border-left: 1px solid #1c2fbe;
    border-right: 1px solid #1c2fbe;
}
ul.sms-tap-db {
    border-bottom: 1px solid #1c2fbe;
}
ul.sms-tap-db > li.active {
    border-top: 1px solid #1c2fbe;
    border-left: 1px solid #1c2fbe;
    border-right: 1px solid #1c2fbe;
}
input[type="submit"].blue,
#fax input[type="submit"] ,
#smsform2-1 input[type="submit"],
#smsform2 input[type="submit"] {
    color: #fff;
    background-color: #1c2fbe;
    border: 1px solid #1c2fbe;
}
.preview,
.button-white-s,
#smsform2-1 .clear-all,
#smsform2 .clear-all{
    color: #1c2fbe;
    border: 1px solid #1c2fbe;
    padding: .5em 3.5em;
    border-radius: 2em;
    margin: 1em .1em;
}
ul.sms-target > li > ul:not(.normal) > li:hover{
    background-color: #1c2fbe;
}
.paginations span{
	color:#fff;
    background-color: #1c2fbe;
}
hr,
.hr{
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-top: .5em;
    margin-bottom: .7em;
}
hr.big-hr,
.hr.big-hr{
	position: relative;
    overflow: visible;
    border-bottom: 2px solid #cfcfcf;
    margin-top: 30px;
    margin-bottom: 30px;
	margin-left: 20%;
	margin-right: 20%;
}
hr.big-hr:before,
.hr.big-hr:before{
	position: absolute;
    content: ' ';
    width: 100px;
    height: 20px;
    background-color: #fff;
    border: 10px;
    left: 50%;
    margin-top: -8px;
    margin-left: -50px;
}
hr.big-hr:after,
.hr.big-hr:after{
    position: absolute;
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: #cfcfcf;
    border: 10px;
    left: 50%;
    margin-top: -8px;
    border-radius: 50%;
    margin-left: -10px;
}




.ui-timepicker-container{
	z-index: 999999 !important;
}
.r3{
    border-radius: 3px;
    border: 1px solid #bbb;
    margin: 0 .3em;
    text-align: center;
}
.r6{
    border-radius: 6px !important;
}
.r6 > input:not(.w100pro){
    border: none;
	width: calc( 100% - 106px );
}
.r6 > .button{
	width: 101px;
	text-align: center;
	padding: .5em 2em;
	border: none;
	border-left: 1px solid #bbb;
	border-radius: 0;
}
.no-border{
	border: none !important;
}
/* common */



.page .open-target:after{
    background-color: #1c2fbe;
    color: #fff;
}
.overflow-y-a{
	overflow-y: auto;
}